<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>About Me</title>
</head>
<body>
    <div id="about-section">
    <h3>About me</h3>
    <p>Hi, I'm Bushra! I'm a final-year Software Engineering student with a growing interest in web development. I like turning ideas into reality through code.</p>
    </div>

    <div id="technologies-section">
    <h3>Technologies</h3>
    <ul>
        <li>JavaScript </li>
        <li> Python </li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Java</li>
        <li>GitHub</li>

    </ul>
    </div>

    <div id="education-section">
    <h3>Education</h3>
    <ul>
        <li>Bachelor of Science in Software Engineering</li>
    </ul>
    </div>

    <div id="future-jobs-section">
    <h3>Types of Jobs I Want in the Future</h3>
    <ul>
        <li>Web Developer</li>
        <li>Software Engineer</li>
    </ul>
    </div>
    <footer>
    <a id="home-link" href="/">Back to Home</a>
    </footer>
</body>
</html>